$deep-walnut: #4a2b08;
$carbon-black: #242424;
$yellow-camel: #e8bd31;
$palm-leaf: #a0b281;
$rich-gray: #9ca5ae;
$title-color: #ddccbb;
$subtitle-color: #cccccc;
$text-color: #fdfdfd;
$red-color: #d21a1ab9;