@use '@/app/styles/colors.module.scss' as *;

.card {
    width: 250px;
    position: relative;
    height: 270px ; 
    border-radius: 10px;
    overflow: hidden;
    gap: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(18, 18, 18, 0.5);
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    }
    &__image {
        width: 100%;
        height: 65%;
        border-radius: 10px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        &__price {
            background-color: $palm-leaf;
            color: $carbon-black;
            border-radius: 6px;
            padding: 5px ;

        }
    }
    &__rating {
        display: flex;
        padding: 10px;
        gap: 5px;
        &__votes {
            color: $subtitle-color;
            opacity: 0.4;
        }
        &__souldout {
            color: $red-color;
            position: absolute;
            right: 10px;
            font-weight: 100;
        }
    }
    &__badge{
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 3px 9px;
        border-radius: 10px;
        width: min-content;
        background-color: $yellow-camel;
    }
}